nav {
    background-color: rgba(18, 52, 59, 1) !important;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4) !important;
}

.card {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: 0.04rem solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4) !important;
    transition: all 0.5s linear !important;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6) !important;
}

table {
    border: 0.04rem solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4) !important;
}

.highlight {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1) !important;
}

th, .highlight {
    padding: 5px;
    background-color: rgba(247, 247, 249, 0.7);
}

hr {
    background-color: #4f5f76;
}

th, label, .card-title {
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.13) !important;
}

.form-control, .custom-select {
    color: #12343b !important;
    border: none !important;
    border-bottom: 2px solid #4f5f76 !important;
    background-color: rgba(247, 247, 249, 0.3) !important;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.13) !important;
    transition: all 0.5s linear !important;
}

.form-control:focus {
    background-color: #edf7f6 !important;
}

input:valid, select:valid {
    background-color: #edf7f6 !important;
}

select:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1b5384;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2) !important;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.addMore span::after {
    content: '\002b' !important;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


