nav {
    background-color: rgba(18, 52, 59, 1) !important;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4) !important;
}

.card {
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: 0.04rem solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4) !important;
    transition: all 0.5s linear !important;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6) !important;
}

table {
    border: 0.04rem solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4) !important;
}

.highlight {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1) !important;
}

th, .highlight {
    padding: 5px;
    background-color: rgba(247, 247, 249, 0.7);
}

hr {
    background-color: #4f5f76;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.13) !important;
}

th, label, .card-title {
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.13) !important;
}

.form-control, .custom-select {
    color: #12343b !important;
    border: none !important;
    border-bottom: 2px solid #4f5f76 !important;
    background-color: rgba(247, 247, 249, 0.3) !important;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.13) !important;
    transition: all 0.5s linear !important;
}

.form-control:focus {
    background-color: #edf7f6 !important;
}

input:valid, select:valid {
    background-color: #edf7f6 !important;
}

select:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #1b5384;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2) !important;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.addMore span::after {
    content: '\002b' !important;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.login {
    border: 3px solid #f1f1f1;
    width: 40%;
    margin-top: 30px;
    margin-left: 30%;
    box-shadow: 3px 3px 3px 3px #ccc;
    background-color: rgba(255, 255, 255, 0.5) !important;
    border: 0.04rem solid rgba(0, 0, 0, 0.2) !important;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4) !important;
    transition: all 0.5s linear !important;
}

.login:hover {
    background-color: rgba(255, 255, 255, 0.7) !important;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.6) !important;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.13) !important;
}

.btn-login {
    background-color: #1b5384;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    width: 100%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.13) !important;
}

.btn-login:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 50px;
    background-color: #f44336;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.13) !important;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3) !important;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.covidDetails {
    width: 415px !important;
    font-size: 20px;
}

.mapContainer {
    width: 50% !important;
    height: 100% !important;
}

.text-medium {
    color: #ff8928 !important;
}
