body {
    /* Downloaded the below image medicine.jpg from https://wallpapercave.com/wp/wp1813033.jpg */
    background-image: url(./assets/medicine.jpg);
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
    color: #494d5f !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
